<!DOCTYPE html>
<html>
   <head>
      <title>Salesforce WiFi login</title>
      <meta http-equiv = "refresh" content = "2;" />
      <style>
         body {
            text-align: center;
         }
         h2 {
            color: #0070d2;
         }
         img {
            display: block;
            margin: 0 auto;
         }
      </style>
   </head>
   <body>
      <p><h2>Authentication Successful. Connecting you to the Internet...</h2></p>
      <div>
         <img src="../static/img/login-slack-close-fg.png"><img/> 
      </div>
      <p><h2>Enjoy your Free WiFi!</h2></p>
   </body>
</html>
